<!-- Header -->
<header id="header" class="alt">
    <h1 id="logo">
        {% if site.logo_url %}
        <img src="{{ site.logo_url | absolute_url }}" width="24" height="24"></span>
        &nbsp;
        {% endif %}
        <a href="index.html">{{ site.title }} <span>{{ site.subtitle }}</span></a>
    </h1>
    <nav id="nav">
        <ul>
        {% for item in site.data.navigation.menu %}
            {% if item.menu[0] %}
            <li class="submenu">
                <a href="{{ item.url }}">{{ item.title }}</a>
                <ul>
                    {% for subitem in item.menu %}
                    <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</header>