<!-- Header -->
<header id="header" {% if include.class %} class="{{ include.class }}" {% endif %}>
    <h1 id="logo">
        <a href="index.html">
            {% if site.logo_url %}
            <img src="{{ site.logo_url | absolute_url }}" width="32" height="32">
            &nbsp;
            {% endif %}
            {{ site.title }} <span>{% if site.subtitle.size < 16 %} {{ site.subtitle }} {% endif %}</span>
        </a>
    </h1>
    {% include navigation.html menu=include.menu %}
</header>